/* Estilo para o topo fixo */
.topo-fixo {
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, #1d002efd, #530083fd, #7700ff); /* Degrade de cores no hover */
}

.container {
  width: 100%;
  margin: 0 auto; /* Centralizar o conteúdo */
}

.nome-instituicao {
  position: relative;
  font-weight: bold;
  color: #ffffff; /* Cor do texto */
  text-decoration: none;
  font-size: 22px;
}

/* Manter a mesma cor para todos os estados do link */
.nome-instituicao:hover,
.nome-instituicao:active,
.nome-instituicao:visited {
  color: #ffffff; 
}

/* Estilos para os botões na barra superior */
.botao-topo {
  background: linear-gradient(to top, #1e043b, #8c00ff9a, #8c00ffe1); /* Degrade de cores */
  border-color: #6209c7a6;
  margin-left: 10px; /* Espaçamento entre os botões */
}

.botao-topo:hover {
  background: linear-gradient(to top, #7700ff, #530083fd, #a200fffd); /* Degrade de cores no hover */
}

/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    background: #e9e6ec;
  }

  .container {
    padding: 30px 0;
  }
  
  /* Estilos para os blocos de disciplinas */
  .card {
    background: linear-gradient(to top, #1e043b, #6209c7);
    border: 3px solid #6f00ffce;
    border-radius: 5px;
    box-shadow:  8px 9px 1px 2px #6c00aacb;
  }
  
  .card:hover {
    background: linear-gradient(to top, #1e043b, #6209c7);
    border: 3px solid #6f00ffce;
    border-radius: 5px;
    box-shadow:  8px 9px 1px 2px #8d00dfcb;
  }
  
  .card-title {
    color: #ffffff;
    margin-bottom: 15px;
  }
  
  .card-text {
    font-size: 1rem;
    color: #dfdfdf;
  }
  
  /* Estilos para o cabeçalho da página */
  h1 {
    color: hsl(0, 0%, 0%)
  }

  /* Estilos para o cabeçalho da página */
  h2 {
      color: hsl(0, 0%, 0%);
  }

  /* Estilos para o cabeçalho da página */
  h3 {
    color: #000000;
  }

  /* Estilos para o cabeçalho da página */
  label {
    color: hsl(0, 0%, 0%);
  }

  /* Estilos para o cabeçalho da página */
  a {
    color: hsl(0, 0%, 0%);
  }

  /* Estilos para o texto descritivo */
  p {
    color: #000000;
  }

/* Estilos para o rodapé */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #510f8f;
  text-align: center;
  padding: 10px 0;
}

footer p, footer span {
  color: #fff; /* Cor do texto dentro do rodapé */
}