/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o topo fixo */
.topo-fixo {
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, #1d002efd, #530083fd, #7700ff); /* Degrade de cores no hover */
  }
  
  .container {
    width: 100%;
    margin: 0 auto; /* Centralizar o conteúdo */
  }
  
  .nome-instituicao {
    position: relative;
    font-weight: bold;
    color: #ffffff; /* Cor do texto */
    text-decoration: none;
    font-size: 22px;
  }
  
  /* Manter a mesma cor para todos os estados do link */
  .nome-instituicao:hover,
  .nome-instituicao:active,
  .nome-instituicao:visited {
    color: #ffffff; 
  }
  
  /* Estilos gerais */
  body {
    font-family: 'Roboto', sans-serif;
    background: #e9e6ec;
  }
  
  .container {
    padding: 30px 0;
  }
  
  /* Estilos para o cabeçalho da página */
  h1, h2, h3, label, a, p {
    color: #000000;
  }
  
  /* Estilos para listas */
  ul {
    list-style: none;
    padding: -20px;
  }
  
  /* Estilos para o rodapé */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #510f8f;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px; /* Adicionando margem superior */
  }
  
  footer p, footer span {
    color: #fff; /* Cor do texto dentro do rodapé */
  }
  
  /* Estilo para o menu dropdown */
  .dropdown-menu {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
      display: block;
  }
  
  .dropdown-menu a {
      color: #000;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  
  .dropdown-menu a:hover {
      background-color: #f2f2f2;
  }
  